
// VARS

$colorBlack: #000;
$colorBlue: #004cff;
$colorLightBlue: #c8ebf5;
$colorRed: #f13939;
$colorViolet: #b072bd;
$colorGreen: #3c9370;
$colorOrange: #f8b63c;
$estilosRedes: (
    color: $colorBlack,
    font-size: 1rem,
);